@use '@/assets/styles/variables.scss' as *;

.button {
	background: none;
	border: none;
	color: $red;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	&:hover {
		color: $orange;
	}
	&:active {
		color: $red;
	}
}
