$black: black;
$white: white;
$red: #ea0029;
$gray-text: #808080;
$gray-700: #eef0f2;
$gray-800: #dfe3e6;
$gray-900: #bec5cc;
$orange: #f53a31;

$gradient-red:
	linear-gradient(255deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
